section h2 {
    color: #0077b6; /* 藍色系，可以根據喜好調整 */
    font-weight: bold;
    border-left: 5px solid #0077b6; /* 左邊加條紋增加設計感 */
    padding-left: 10px; /* 讓文字與條紋有點距離 */
    margin-bottom: 15px;
}
section {
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}
section:hover {
    transform: scale(1.05); /* Scale the section to 105% of its original size */
    background-color: #faf7dd; /* 淺黃色背景 */
}
.profile-pic {
    max-height: 100%; /* Ensures it doesn’t exceed the parent container */
    max-width: 120px; /* Adjust the width to be smaller */
    object-fit: cover;
    border: 1px solid #0077b6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-border {
    border: 2px solid #0077b6; /* Adjust the color and width as needed */
    border-radius: 5px; /* Optional: add rounded corners */
}

.custom-border:hover {
    transform: scale(1.2); /* Scale the image to 120% of its original size */
}